extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Aenean dolor orci, rutrum et posuere laoreet, tincidunt non sem. Ut elementum neque id justo ultricies, quis interdum felis rhoncus. Nunc augue mauris, molestie varius justo a, sagittis malesuada massa. Praesent id est nisl. Sed at nisl a orci vulputate finibus. Vestibulum ultricies augue vel sagittis fermentum. Etiam varius convallis enim. Sed sit amet urna sit amet nisi tincidunt pharetra.
                p Duis vestibulum erat efficitur, elementum ligula in, egestas urna. Morbi imperdiet, risus sit amet interdum accumsan, justo metus pharetra felis, non placerat sem velit ac magna. Praesent nec est felis. Proin sit amet velit nulla.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales