extends ./layout/index

block contenido
    main.container.mt-5 
        .row    
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote Curabitur quis turpis ultrices, bibendum nisl eget, feugiat purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vehicula ipsum mattis ex iaculis, nec eleifend nulla cursus. Cras quis erat id urna consectetur cursus. Mauris nulla felis, sodales consectetur nulla id, varius lacinia turpis. Phasellus vel pretium enim. Duis lacinia ut sapien at dapibus.

                p Vestibulum dictum dui eu nulla rhoncus hendrerit. In hendrerit laoreet accumsan. Proin fringilla ligula quis turpis imperdiet, nec rhoncus sem mollis. Praesent suscipit libero nec pulvinar posuere. Sed elementum purus eros, sagittis suscipit diam volutpat vel. Aliquam neque nunc, maximus quis leo nec, aliquet tincidunt tellus. Donec varius lacus vitae neque iaculis, et imperdiet sem tincidunt. Phasellus pulvinar massa vitae efficitur dapibus. Aenean eu neque quis neque faucibus vehicula et sed erat.

                p Nulla euismod neque a gravida facilisis. Maecenas enim risus, ullamcorper ac tellus eu, rhoncus placerat quam. Phasellus tincidunt dui vel felis porta, a lobortis mauris rhoncus. Donec lobortis dui id euismod pulvinar. 

    .listado-iconos
        .container.mt-5.py-5.text-center  
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" , class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Curabitur quis turpis ultrices, bibendum nisl eget, feugiat purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono Destinos" , class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Curabitur quis turpis ultrices, bibendum nisl eget, feugiat purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" , class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Curabitur quis turpis ultrices, bibendum nisl eget, feugiat purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
